@charset "UTF-8";
body{
	background:url("../../img/bg.jpg") repeat;
}
a{
text-decoration: none;
}
/* wrapper*/
#wrapper{
	background:#fefefe;
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	color: #ffffff;
	font-family: 'Myriad Pro';
		
}


/*header*/
#header{
	width: 100%;
	height: 166px;	
}

#logo01{

}

#logo02{
	float: right;	
}
/*#header*/

/*banner*/
#banner{
	width: 100%;
	height: 574px;		
	margin: 0px;
	padding: 0px;
	
}
/*#banner*/

/*main*/
#main{	
	margin-top: -1px;
	width: 100%;
	min-height: 900px;
	background: url("../../img/bg-red.png") no-repeat;


}
/*content*/
#content{

	margin: 0 40px;
}

/*slogan*/
#slogan{		
	font-size: 55px;	
	font-weight: normal;
	line-height: normal;
}
/*#slogan*/

/*detail-slogan*/
#detail-slogan{
	font-size: 18px;
	margin-top: 12px;
	font-weight: normal;
	line-height: normal;

}
/*#detail-slogan*/

/*subcontent*/
#subcontent{		
	padding: 30px;
	margin-right: 10px;
	margin-top: 30px;	
	height: 600px;
	background: url(../../img/bg-orange.png) no-repeat;
	
}

#img01{
	float: left;
	width: 398px;
	height: 295px;
}
#img02{
	float: right;
	width: 398px;
	height: 295px;

}

#subcontent p{	
	padding-top: 20px;
	font-size: 18px;
	font-weight: normal;
	line-height: normal;
}
#btn-submit{		
	margin:1.5em  auto 0px auto;
	display: block;
	width: 242px;
	height: 56px;
	background: url("../../img/btn-submit.jpg") no-repeat;
	text-align: center;
	padding-top: 10px;
	font-weight: normal;	
	font-size: 29px;
	color: #ffffff;

}

#btn-submit:hover{	
	text-decoration: none;
}

/*# subcontent*/

/*#content*/

/*#main*/

#footer{
	width: 100%;
	height: 10px;
	text-align: center;
	margin-top: 10px;
	
}
#footer p{
	font-size: 20px; 	
}
#footer span{
	color: #ea841d;
}
#footer span a{
	color: #ea841d;
	text-decoration: none;	
}
#footer span a:hover{
	text-decoration: none;	
}

/*#shadow{
	background:url("../../img/shadow.gif") no-repeat;
	background-position:bottom;
	padding-bottom:60px;
}*/


/*#wrapper*/