@charset "UTF-8";

/*  Layout
-----------------------------------------------------------------------------*/
/* Body */
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

/* wrapper */
#wrapper {
	background: url(../images/main_bg.png) left top repeat;
	min-width: 1120px;
}

/* Header */
#header{
	background: #F0F0F2 url(../images/border_header.jpg) left bottom repeat-x;
	padding-top: 10px;
	padding-bottom: 30px;
}
#header_inner{
	width: 1120px;
	margin: 0 auto;
}

#header #logo_nusa{
	float: left;
}
#header #login_form,
#header ul#after_login{
	float: right;
	padding-top: 10px;
}
#header #login_form #login_wrap li{
	float: left;
	margin-left: 15px;
}
#header #login_form #login_wrap li.label_login{
	color: #162F4D;
	font-weight: bold;
	line-height: 32px;
}
#header #login_form #login_wrap li.input_login{
	*margin-left: 10px;
}
#header #login_form #login_wrap li.input_login input{
	border: 1px solid #162F4D;
	padding: 5px;
	outline: none;
	color: #162F4D;
}
#header #login_form #login_wrap li input#btn_login{
	border: none;
	color: #ffffff;
	background: #05366A;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
}
#header ul#after_login li{
	float: left;
	margin-left: 15px;
	color: #162F4D;
}
#header ul#after_login li:first-child{
	border-right: 1px solid #05366A;
	color: #162F4D;
	padding-right: 15px;
}
#header ul#after_login li a{
	text-decoration: none;
}
#header ul#after_login li a:hover{
	text-decoration: underline;
}

/* Footer */
#footer {
	background: url(../images/border_footer.png) left top repeat-x;;
	padding-top: 13px;
	position: relative;
}
#footer_bot{
	background: #F0F0F2;
	padding: 15px 0 15px 0;
}
#footer_inner{
	width: 1020px;
	margin: 0 auto;
}
#footer p{
	text-align: center;
}
#footer #inpage_follow_us{
	float: right;
	margin-top: -30px;
	display: none;
}
#footer #inpage_follow_us li{
	float: left;
	margin-left: 10px;
}
#footer #inpage_follow_us li:first-child{
	margin-left: 0px;
}