@charset "UTF-8";

/*  Top Contents
-----------------------------------------------------------------------------*/
#top_contents{
	width: 1120px;
	margin: 15px auto;
	position: relative;
	height: 700px;
}
#top_contents > div{
	position: absolute;
}
#winner_prize{
	background: url(../images/top_prize_bg.jpg) left top no-repeat;
	top: 141px;
	right: 72px;
	width: 456px;
	height: 633px;
}
#winner_prize ul{
	width: 286px;
	padding-top: 165px;
	padding-left: 132px;
}
#winner_prize ul li{
	background: url(../images/prize_list_bg.png) left bottom repeat-x;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#winner_prize ul li:first-child{
	padding-top: 0px;
}
#winner_prize ul li:first-child + li + li{
	background: none;
}
#winner_prize ul li div{
	background: url(../images/prize_list_icon_top.png) left 2px no-repeat;
	padding-left: 20px;
}
#winner_prize ul li div p{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	color: #69C2FB;
	font-size: 18px;
	line-height: 26px;
}
#winner_prize ul li div p.sub_icon{
	background: url(../images/prize_list_sub_icon.png) left 10px no-repeat;
	padding-left: 10px;
}
#winner_prize ul li div p .prize_num{
	color: #ffffff;
	font-weight: bold;
}

#denim_banner{
	top: 15px;
	left: 0px;
}
#date_banner{
	left:-17px;
    top:15px;
	z-index:100;
}
#model{
	top: 288px;
	right: 5px;
}
#follow_us{
	background: url(../images/followus_bg.png) left top no-repeat;
	width: 244px;
	height: 117px;
	top: 0px;
	right: 65px;
}
#follow_us ul{
	position: absolute;
	top: 23px;
	left: 95px;
}
#follow_us ul li{
	float: left;
	margin-left: 10px;
}
#follow_us ul li:first-child{
	margin-left: 0px;
}
#top_daftar_btn{
	top: 525px;
	left: 535px;
}
#top_daftar_btn img{
	top: 0px;
	left: 0px;
	position: absolute;
}
#partner_logo{
	left: 0px;
	bottom: 0px;
}
#partner_logo p{
	float: left;
	margin-left: 30px;
}
#partner_logo p:first-child{
	margin-left: 0px;
}
#top_menu{
	top: 530px;
	left: 0px;
	background: url(../images/top_menu_left.png) left top no-repeat;
	padding-left: 19px;
}
#top_menu #top_menu_right{
	background: url(../images/top_menu_right.png) right top no-repeat;
	padding-right: 19px;
}
#top_menu #top_menu_mid{
	background: url(../images/top_menu_mid.png) left top repeat;
	height: 41px;
	line-height: 41px;
}
#top_menu #top_menu_mid span{
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
	margin-left: 20px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
#top_menu #top_menu_mid span:first-child{
	margin-left: 0px;
}
#top_menu #top_menu_mid span a{
	text-decoration: none;
	color: #69C2FB;
}
#top_menu #top_menu_mid span a:hover{
	text-decoration: none;
	color: #FFEA00;
}
/*  Top Contents
-----------------------------------------------------------------------------*/
#contents{
	width: 996px;
	margin:25px auto;
}
#top_banner{
	background:url(../images/home/voting_banner.gif) no-repeat;
	height:207px;
	position:relative;
}
#top_banner_title{
	left:-40px;
	top:-18px;
	position:absolute;
}
.stage {
	left:294px;
	top:116px;
	color:#65B9F1;
	font-size:22px;
	font-weight:bold;
	position:absolute;
}
#top_banner .timer {
	margin-top:10px;
	display:block;
	color:#FFE900;
	font-size:24px;
}
#top_banner .top_banner_text {
	color:#fff;
	font-size:16px;
	line-height:28px;
	padding:100px 27px 0 0;
	text-align:right;
}
#content_inner{
	background:#FFF;
	padding:30px 10px 10px;
}

/* left_side */
#left_side{
	float:left;
	width:285px;
}
#left_side .title {
	background:#B6C2C8;
	color:#07263F;
	font-size:26px;
	font-weight:bold;
	padding:10px;
	text-align:center;
}
#left_side .left_side_inner {
	background:#D6DEE3;
	padding:10px;
}
.list_winner dt {
	padding:10px 0 10px 2px;
}
.list_winner dd {
	padding:10px 0 10px 115px;
	margin-top: -98px;
	border-top:1px solid #fff;
	min-height: 80px;
}
.list_winner dd.first_winner {
	border-top: none;
}
.notice {
	background:#B7C1C9;
	padding:10px;
}
/* right_side */
#right_side{
	float:right;
	width:684px;
}
.voting .competitors {
	width:160px;
	float:left;
	margin-right:10px;
	margin-bottom:20px;
}
.voting .last_column {
	margin-right:0px !important;
}
.voting .picture {
	margin-bottom:10px;
}
.voting .competitors .submit_vote {
	float:left;
	margin-right:5px;
}
.voting .competitors .social_button {
	float:left;
}
#notications {
	overflow:auto;
	width:568px;
	height:165px;
	background:#F5F5F3;
	text-align:center;
}
.banner_join
{
	margin-top:40px;
}
.inner_banner_join
{
	 left: 205px;
    position: absolute;
    top: -15px;
}
.text_bullet{
	margin-bottom:20px;
}
.text_bullet li{
	background: url(../images/bullet.gif) no-repeat top 6px left;
	padding-left:10px;
}
.notice > p{
	color:#07263F;
}