@charset "UTF-8";
/*  Inpage Common
-----------------------------------------------------------------------------*/
#inpage_contents{
	width: 1020px;
	margin: 15px auto;
	position:relative;
}
#left_sidebar{
	width: 188px;
	float: left;
}
#right_contents{
	width: 786px;
	float: right;
	background: #ffffff;
}
#right_contents .right_contents_inner{
	width: 728px;
	margin: 60px auto 20px;
}
#inpage_partner_logo{
	width: 1120px;
	margin: 20px auto 15px;
}
#inpage_partner_logo ul li{
	float: left;
	margin-left: 30px;
}
#inpage_partner_logo ul li:first-child{
	margin-left: 0px;
}
/* left sidebar */
#left_sidebar #inpage_menu li{
	background: url(../images/inpage_menu_bg.png) left top no-repeat;
	width: 187px;
	height: 49px;
	margin-top: 7px;
}
#left_sidebar #inpage_menu li:first-child{
	margin-top: 0px;
}
#left_sidebar #inpage_menu li a{
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	line-height: 49px;
	height: 49px;
	width: 187px;
	text-align: center;
	text-decoration: none;
	color: #09213A;
}
#left_sidebar #inpage_menu li a:hover{
	text-decoration: none;
	color: #FFEA00;
}
#left_sidebar #inpage_menu li.act a{
	color: #FFEA00;
}
#left_sidebar #inpage_winner_prize{
	margin-top: 50px;
	background: url(../images/inpage_prize_border_bot.png) left bottom no-repeat;
	padding-bottom: 11px;
}
#left_sidebar #inpage_winner_prize #inpage_winner_prize_top{
	background: url(../images/inpage_prize_border_top.png) left top no-repeat;
	padding-top: 12px;
}
#left_sidebar #inpage_winner_prize #inpage_winner_prize_mid{
	background: url(../images/inpage_prize_border_mid.png) left top repeat;
}
#left_sidebar #inpage_winner_prize ul{
	padding: 15px 8px 5px;
}
#left_sidebar #inpage_winner_prize ul li{
	background: url(../images/prize_list_bg.png) left bottom repeat-x;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#left_sidebar #inpage_winner_prize ul li:first-child{
	padding-top: 0px;
}
#left_sidebar #inpage_winner_prize ul li:first-child + li + li + li + li{
	background: none;
	padding-bottom: 0px;
}
#left_sidebar #inpage_winner_prize ul li div{
	background: url(../images/inpage_prize_list_icon.png) left 2px no-repeat;
	padding-left: 13px;
}
#left_sidebar #inpage_winner_prize ul li div p{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	color: #69C2FB;
	font-size: 12px;
	line-height: 16px;
}
#left_sidebar #inpage_winner_prize ul li div p.sub_icon{
	background: url(../images/prize_list_sub_icon.png) left 5px no-repeat;
	padding-left: 10px;
}
#left_sidebar #inpage_winner_prize ul li div p .prize_num{
	color: #ffffff;
	font-weight: bold;
}

/* right_contents */
#right_contents h2{
	color: #05366A;
	font-size: 26px;
	line-height: 32px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
}
#inpage_pagebot_btn{
	width: 250px;
	height: 50px;
	background: #05366A;
	margin: 0 auto;
}
#inpage_pagebot_btn a{
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	line-height: 50px;
}
/* right_contents page 1 */
#right_contents #page_1{
	background: url(../images/page_1_bg.gif) right top no-repeat;
}
#page_1 #page_1_para1{
	background: url(../images/page_1_pic_01.jpg) left top no-repeat;
	padding-left: 290px;
	min-height: 203px;
}
#page_1 #page_1_list{
	margin-top: 20px;
	background: url(../images/page_1_list_bg.gif) left top no-repeat;
	width: 728px;
	height: 200px;
}
#page_1 #page_1_list li{
	float: left;
	width: 241px;
	padding-top: 15px;
}
#page_1 #page_1_list li p{
	width: 180px;
	margin: 0 auto;
}
/* right_contents page 2 */
#right_contents #page_2{
	background: url(../images/page_2_bg.gif) right top no-repeat;
}
#page_2 .page_2_cate{
	color: #333333;
	font-weight: bold;
	font-size: 18px
}
#page_2 .bullet{
	background: url(../images/bullet.gif) left 8px no-repeat;
	padding-left: 15px;
}
#page_2 .bullet span{
	background: url(../images/prize_list_sub_icon_blue.png) left 5px no-repeat;
	padding-left: 10px;
}
/* right_contents page 3 */
#right_contents #page_3{
	background: url(../images/page_3_bg.gif) right top no-repeat;
}
#page_3 table#tbl_submit{
	margin-top: 30px;
	border-collapse: collapse;
	border: none;
	width: 100%;
}
#page_3 table#tbl_submit th,
#page_3 table#tbl_submit td{
	vertical-align: top;
	padding: 10px;
	text-align: left;
}
#page_3 table#tbl_submit th{
	width: 25%;
}
#page_3 table#tbl_submit input[type="text"],
#page_3 table#tbl_submit select,
#page_3 table#tbl_submit textarea{
	width: 100%;
	height: 28px;
}
#page_3 table#tbl_submit select{
	width: 101%;
}
#page_3 table#tbl_submit textarea{
	height: 200px;
	resize: vertical;
}
#page_3 #tk_popup{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 99;
	display: none;
}
#page_3 #tk_popup #tk_popup_over{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: url(../images/overlay_background.png) left top repeat;
}
#page_3 #tk_popup #tk_popup_main{
	background: url(../images/popup_bg.png) left top no-repeat;
	width: 444px;
	height: 172px;
	position: absolute;
}
#page_3 #tk_popup #tk_popup_main > p{
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	padding-top: 46px;
	line-height: 28px;
}
#page_3 #tk_popup #tk_popup_main #tk_popup_close_btn{
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
}
/*competitors2
----------------------------------------*/
.competitors2
{
	 border: 1px solid #5B9BD5;
    border-radius: 5px;
    margin-right: 4px !important;
    padding: 5px 3px;
}
.container_label_category2{
}
.label_category2{
	height:45px;
	border:1px solid #41719c;
	background-color:#5b9bd5;
	border-radius:5px;
}
.label_category2 p{
	text-align:center;
	color:#FFF;
	font-size:14px;
	font-weight:600;
	line-height:45px;
}
