@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: "Cormorant Upright";
    src: url(../friend-wheel/common/fonts/CormorantUpright-Light.html) format("truetype"), url(../friend-wheel/common/fonts/CormorantUpright-Medium.html) format("truetype"), url(../vong-quay-ban-be/common/fonts/CormorantUpright-Regular.html) format("truetype"), url(../vong-quay-ban-be/common/fonts/CormorantUpright-SemiBold.html) format("truetype"), url(../vong-quay-ban-be/common/fonts/CormorantUpright-Bold.html) format("truetype");
}

.popup {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    transition: opacity 1.5s, visibility 2.5s;
    -webkit-transition: opacity 1.5s, visibility 2.5s;
    -moz-transition: opacity 1.5s, visibility 2.5s;
    -o-transition: opacity 1.5s, visibility 2.5s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.popup>* {
    transition: transform 0.5s ease-out;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    transform: translateX(-10px);
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

.popup.show>* {
    transform: translateX(0px);
    -webkit-transform: -webkit-translateX(0px);
    -moz-transform: -moz-translateX(0px);
    -o-transform: -o-translateX(0px);
}

.popup_intro div {
    width: 700px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(10%) translateY(-50%);
    -webkit-transform: -webkit-translateX(10%) -webkit-translateY(-50%);
    -moz-transform: -moz-translateX(10%) -moz-translateY(-50%);
    -o-transform: -o-translateX(10%) -o-translateY(-50%);
    border-radius: 5px 5px 0px 5px;
}
.popup_intro img {
    border-radius: 5px 5px 0px 5px;
}

.popup_count div {
    background: url(../friend-wheel/common/imgs/playPopup.html) center center no-repeat;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(10%) translateY(-50%);
    -webkit-transform: -webkit-translateX(10%) -webkit-translateY(-50%);
    -moz-transform: -moz-translateX(10%) -moz-translateY(-50%);
    -o-transform: -o-translateX(10%) -o-translateY(-50%);
    border-radius: 5px 5px 5px 5px;
}

.popup.show div {
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: -moz-translateX(-50%) -moz-translateY(-50%);
    -o-transform: -o-translateX(-50%) -o-translateY(-50%);
    -webkit-transform: -webkit-translateX(-50%) -webkit-translateY(-50%);
}

.popup div .btnClose {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    position: absolute;
    top: 6px;
    right: 6px
}

.popup div .btnClose {
    transition: transform 0.8s ease-in-out;
    -webkit-transition: transform 0.8s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out;
    -o-transition: transform 0.8s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out;
}

.popup div .btnClose:hover {
    transform: rotate(180deg);
}

.popup div .btnClose span {
    width: 100%;
    display: block;
    border-radius: 5px;
    content: "";
    height: 4px;
    background: #331e1e;
    position: absolute;
    right: 0;
    top: 10px;
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
}
.popup div .btnClose span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: center center;
    -o-transform: rotate(45deg);
    -o-transform-origin: center center;
}
.popup div .btnClose span:nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: center center;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: center center;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: center center;
    -o-transform: rotate(-45deg);
    -o-transform-origin: center center;
}

.popup .img_text {
    margin: 18px 0 10px;
}

.popup p {
    margin-top: 200px;
    font-family: "Cormorant Upright", serif;
    font-size: 18px;
    line-height: 34px;
    color: #331e1e;
    font-weight: bold;
}

.popup p span {
    color: #4994c9;
    font-size: 30px;
}

.popup .button_start {
    display: inline-block;
    text-decoration: none;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    margin-top: 15px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}


.popup .button_start:hover {
    box-shadow: 0px 3px 5px 0px rgba(23, 126, 192, 1);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}


/* Side bar img */

.side_banner {
    text-align: center;
    padding-top: 45px;
    z-index: 99999;
    bottom: 0;
    left: 0;
    display: inline-block;
    position: fixed;
    width: 140px;
    height: 305px;
    background: url('../images/popupApp/sidebanner/background.html') top left no-repeat;
}

.side_banner:hover {
    text-decoration: none;
}

.side_banner .img_friend {
    animation: fadeIn 8s infinite
}

.side_banner .img_txt01 {
    margin-top: -20px;
    animation: fadeInCenter 8s infinite;
    overflow-x: hidden;
}

.side_banner .img_txt02 {
    margin: -5px 0 12px;
    animation: fadeInCenter2 8s infinite;
}

.side_banner .img_txt02 img {
    animation: rotate01 8s infinite;
}

.side_banner .img_txt03 {
    margin: 0 0 4px;
}

.side_banner .img_txt03 {
    animation: moveDown2 8s infinite;
}

.side_banner .img_txt04 {
    animation: moveDown3 8s infinite;
}

.side_banner .img_txt05 {
    animation: moveDown4 8s infinite;
}

.side_banner span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.side_banner .background_red {
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0;
    margin-top: 4px;
    animation: colorChange 8s infinite;
    height: 24px;
    z-index: 1;
    position: relative;
}

.side_banner .background_red:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: backgroundChange 8s infinite;
    background: #ef5a28;
    z-index: -1
}

.side_banner .line_green {
    position: absolute;
    top: 230px;
    right: 0;
    animation: fadeIn 8s infinite;
}

@keyframes fadeInCenter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInCenter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeInCenter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInCenter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInCenter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate01 {
    0% {
        transform: rotateX(-80deg)
    }
    20% {
        transform: rotateX(-80deg)
    }
    25% {
        transform: rotateX(0deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

@keyframes fadeInCenter2 {
    0% {
        transform: translateX(-140px);
    }
    15% {
        transform: translateX(-140px);
    }
    20% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

@-webkit-keyframes fadeInCenter2 {
    0% {
        -webkit-transform: -webkit-translateX(-140px);
    }
    15% {
        -webkit-transform: -webkit-translateX(-140px);
    }
    20% {
        -webkit-transform: -webkit-translateX(0px);
    }
    100% {
        -webkit-transform: -webkit-translateX(0px);
    }
}

@-o-keyframes fadeInCenter2 {
    0% {
        -o-transform: -o-translateX(-140px);
    }
    15% {
        -o-transform: -o-translateX(-140px);
    }
    20% {
        -o-transform: -o-translateX(0px);
    }
    100% {
        -o-transform: -o-translateX(0px);
    }
}

@-moz-keyframes fadeInCenter2 {
    0% {
        -moz-transform: -moz-translateX(-140px);
    }
    15% {
        -moz-transform: -moz-translateX(-140px);
    }
    20% {
        -moz-transform: -moz-translateX(0px);
    }
    100% {
        -moz-transform: -moz-translateX(0px);
    }
}

@keyframes moveDown2 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    25% {
        opacity: 0;
        transform: translateY(-20px);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes moveDown2 {
    0% {
        opacity: 0;
        -moz-transform: -moz-translateY(-20px);
    }
    25% {
        opacity: 0;
        -moz-transform: -moz-translateY(-20px);
    }
    30% {
        opacity: 1;
        -moz-transform: -moz-translateY(0);
    }
}

@-o-keyframes moveDown2 {
    0% {
        opacity: 0;
        -o-transform: -o-translateY(-20px);
    }
    25% {
        opacity: 0;
        -o-transform: -o-translateY(-20px);
    }
    30% {
        opacity: 1;
        -o-transform: -o-translateY(0);
    }
}

@-webkit-keyframes moveDown2 {
    0% {
        opacity: 0;
        -webkit-transform: -webkit-translateY(-20px);
    }
    25% {
        opacity: 0;
        -webkit-transform: -webkit-translateY(-20px);
    }
    30% {
        opacity: 1;
        -webkit-transform: -webkit-translateY(0);
    }
}

@-ms-keyframes moveDown2 {
    0% {
        opacity: 0;
        -ms-transform: -ms-translateY(-20px);
    }
    25% {
        opacity: 0;
        -ms-transform: -ms-translateY(-20px);
    }
    30% {
        opacity: 1;
        -ms-transform: -ms-translateY(0);
    }
}

@keyframes moveDown3 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    30% {
        opacity: 0;
        transform: translateY(-20px);
    }
    35% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveDown4 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    31% {
        opacity: 0;
        transform: translateY(-20px);
    }
    36% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes moveDown4 {
    0% {
        opacity: 0;
        -webkit-transform: -webkit-translateY(-20px);
    }
    31% {
        opacity: 0;
        -webkit-transform: -webkit-translateY(-20px);
    }
    36% {
        opacity: 1;
        -webkit-transform: -webkit-translateY(0);
    }
}

@-o-keyframes moveDown4 {
    0% {
        opacity: 0;
        -o-transform: -o-translateY(-20px);
    }
    31% {
        opacity: 0;
        -o-transform: -o-translateY(-20px);
    }
    36% {
        opacity: 1;
        -o-transform: -o-translateY(0);
    }
}

@-moz-keyframes moveDown4 {
    0% {
        opacity: 0;
        -moz-transform: -moz-translateY(-20px);
    }
    31% {
        opacity: 0;
        -moz-transform: -moz-translateY(-20px);
    }
    36% {
        opacity: 1;
        -moz-transform: -moz-translateY(0);
    }
}

@keyframes colorChange {
    0% {
        color: transparent;
    }
    45% {
        color: transparent;
    }
    51% {
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@-webkit-keyframes colorChange {
    0% {
        color: transparent;
    }
    45% {
        color: transparent;
    }
    51% {
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@-o-keyframes colorChange {
    0% {
        color: transparent;
    }
    45% {
        color: transparent;
    }
    51% {
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@-moz-keyframes colorChange {
    0% {
        color: transparent;
    }
    45% {
        color: transparent;
    }
    51% {
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@-ms-keyframes colorChange {
    0% {
        color: transparent;
    }
    45% {
        color: transparent;
    }
    51% {
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@keyframes backgroundChange {
    0% {
        transform: scaleX(0);
    }
    43% {
        transform: scaleX(0);
    }
    55% {
        transform: scaleX(1);
    }
}

@-moz-keyframes backgroundChange {
    0% {
        -moz-transform: scaleX(0);
    }
    43% {
        -moz-transform: scaleX(0);
    }
    55% {
        -moz-transform: scaleX(1);
    }
}

@-webkit-keyframes backgroundChange {
    0% {
        -webkit-transform: scaleX(0);
    }
    43% {
        -webkit-transform: scaleX(0);
    }
    55% {
        -webkit-transform: scaleX(1);
    }
}

@-o-keyframes backgroundChange {
    0% {
        -o-transform: scaleX(0);
    }
    43% {
        -o-transform: scaleX(0);
    }
    55% {
        -o-transform: scaleX(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    45% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    45% {
        opacity: 0
    }

    70% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    45% {
        opacity: 0
    }

    70% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }

    45% {
        opacity: 0
    }

    70% {
        opacity: 1
    }
}


@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }


    45% {
        opacity: 0
    }

    70% {
        opacity: 1
    }

}
.popup div .prevent_popup{
    position: absolute;
    top: 100%;
    right:0;
    padding: 2px 10px;
    border-radius: 0 0 3px 3px;
    color: #331e1e;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.2s;
    background: #FFCED3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.popup div .prevent_popup:hover{
    padding: 4px 10px;
}
