@charset "UTF-8";
@font-face {
    font-family: helvetica-neue;    
    src: url(../font/helvetica-neue-regulard41d.eot?#iefix) format('embedded-opentype'),  url(../font/helvetica-neue-regular.woff) format('woff'), url(../font/helvetica-neue-regular.ttf) format('truetype'), url(../font/helvetica-neue-regular.svg#helvetica-neue) format('svg');
    font-weight: 400;
    font-style: normal
}
* {
    font-family: "helvetica-neue";
    padding: 0;
    margin: 0;
	line-height: 22px;
	
}



/*  align
-----------------------------------------------------------------------------*/
.align_r { text-align: right; }
.align_c { text-align: center; }
.align_l { text-align: left; }
.valign_m { vertical-align: middle; }

/*  float 
-----------------------------------------------------------------------------*/
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

/* # clearfix 
---------------------------------------------------------------------------- */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;

}

.wrapper{
	margin: 0 auto;
	background: #840000;
}
.header{
	text-align:center;
}
.contents{
	margin:0 auto;
	width:660px;
	padding:20px;
}
#tabs{
	background: #ffffff;
	border-radius: 10px;
	padding: 17px 0 27px 0 ;
}
.tab_group li{
	float: left;
}
.tab_group li a{
	font-size: 13px;
	color:#ffba27;
	display: inline-block;
	padding: 2px 0;
	text-align: center;
	width: 207px;
}
.tab_group li a:hover{
	background: #ffba27;
	color: #ffffff;
}
.tab_group{
	border-radius: 5px;
	border: 1px solid #ffba27;
	width: 414px;
	margin: 0 auto 18px auto;
}
.ui-tabs-active a{
	background: #ffba27;
	color: #ffffff !important;
}
#rule {
	width: 596px;
	margin:0 auto;
	
}
#rule .title{
	text-align: center;
	font-size: 23px;
	color: #2186c6;	
	margin-bottom: 15px;
}
#rule .title span{
	font-weight: bold;
}
#rule .info_rule{	
	color: #4e4e4e;
	font-size: 14px;
}
#rule .info_rule span{
	color:#ed0f33;
	font-weight: bold;
}
#rule .info_rule  img{
	vertical-align: middle;
}
#rule .end_rule{
	margin-top: 25px;
	font-style: italic;
}
#rule .end_rule span{
	font-weight: bold;
}
#rule .end_rule a{color:#4e4e4e; }

#list .tbl_list{	
	border-collapse: collapse;
	background: transparent;
	width: 100%;	
	font-size: 12px;
	
}
#list .tbl_list th{	
	color: #ffffff;
	padding: 9px 10px;
	text-align: left;
	background: #dc1a1a;
	margin:0;
}
#list .tbl_list th:last-child{
	text-align: right;
}
#list .tbl_list td:last-child{
	text-align: right;
}
#list .tbl_list td{
	position: relative;
	text-align: left;
	padding: 12px 10px;}
#list .tbl_list tr:nth-child(even){	
	background: #e3e3e3;
}
#list .tbl_list tr:nth-child(odd){
	background: #ffffff;
}
/*#list .tbl_list tr:last-child td:first-child{
		border-radius:  0 0 0 7px;
}
#list .tbl_list tr:last-child td:last-child{
	border-radius: 0 0 7px 0;
}
*/
#list .group_page{
	margin-top: 10px;
	text-align: center;
}
#list .page{
	display: inline-block;
}
#list .page li{
	margin-right: 10px;
	float: left;
}
#list .page li a{color: #6b6b6b;}
#list .page li a.text_red{
	color: #ed0f33;
	font-weight: bold;	
}
.text_red{
	color: #ed0f33;
	font-weight: bold;	
}
#list .page li a:hover{
	color: #ed0f33;
}
.popup{
	cursor: pointer;
}
.popup_time{
	display: none;
	position: absolute;
	background: #FBF9CD;	
	right: 0;
	padding: 0 10px;
}
.popup_time.active{
	display: block;
}
.red_txt{
	color:#ed0f33 !important;
}