
/*  Inpage Common
-----------------------------------------------------------------------------*/



#box_reward .content_box_reward li {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 570px;
    font-size: 16px;
    float: left;
    margin: 0 50px 55px 0;
    position: relative;
    padding: 0 0 50px 0;
    background: #f6f6f6;
    overflow: hidden;
}

#box_reward .content_box_reward li:nth-child(even){
    margin: 0 0 55px 0;
}

#box_reward .content_box_reward li .head_box {
    padding: 20px;
}

#box_reward .content_box_reward li .title {
    margin: 0 0 20px 0;
}

#box_reward .content_box_reward li .img_title {
    text-align: center;
}

#box_reward .content_box_reward li .img_title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#box_reward .content_box_reward li .sub_title {
    text-align: center;
    padding: 20px 0 0 0;
    line-height: 30px;
}

#box_reward .content_box_reward li .sub_title .name {
    font-weight: bold;
    color: #f57b20;
}

#box_reward .content_box_reward li .sub_title .info_member{
    color: #797d7f;
}
#box_reward .content_box_reward li .sub_title .link_web a{
    color: #797d7f;
}

#box_reward .content_box_reward li .last_box {
    padding: 12px 20px;
    position: absolute;
    border-top: 1px solid #d1d1d1;
    background: #ffffff;
    width: 530px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#box_reward .content_box_reward li .last_box .btn_like {
    float: left;
}

#box_reward .content_box_reward li .last_box .btn_like img {
    margin: 0 10px 0 0;
}

#box_reward .content_box_reward li .last_box .btn_like {
    color: #797d7f;
}

#box_reward .content_box_reward li .last_box .btn_share {
    float: right;
}

#box_reward .content_box_reward li .bg_black {
    position: absolute;
    background: #000000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#box_reward .content_box_reward li .detail_box .left_detail {
    float: left;
    width: 210px;
    background: #ffffff;
    text-align: center;
    /*min-height: 170px;*/
    padding:25px 0;
    border-radius: 5px;
    margin: 0 10px 5px 0;
}

#box_reward .content_box_reward li .detail_box .right_detail {
    /*float: right;
    width: 290px;*/
    text-align: justify;
}

#terms h3.title_term {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
    margin: 0 0 45px 0;
    text-align: left;
}
#terms .content_term p{
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 30px 0;
}

#submit .content_submit .title{
    text-align: center;
    color: #f57b20;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 45px 0;
}
#submit .content_submit .tbl_submit{
    border:1px solid #d1d1d1;
    border-radius: 5px;
    width: 570px;
    margin: 0 auto;
}
#submit .content_submit .tbl_submit td{
    padding: 20px 18px 0 18px;
    position: relative;
    background: #f6f6f6;
}
#submit .content_submit .tbl_submit td input[type=text]{
    border:1px solid #d1d1d1;
    padding:  15px 10px;
    border-radius: 3px;
    font-size: 16px;
    width: 234px;
    font-size: 16px;
}
#submit .content_submit .tbl_submit td input[type=text].long_text{
    width: 528px;
}
#submit .content_submit .tbl_submit td p{
    margin-bottom: 15px;
    color: #797d7f;
    line-height: 24px;
    font-size: 16px;
}
#submit .content_submit .tbl_submit td textarea{
    border:1px solid #d1d1d1;
    width: 528px;
    padding:  15px 10px;
    height: 250px;
    resize:none;
    border-radius: 3px;
    font-size: 16px;
}
#submit .content_submit .tbl_submit td input[type=checkbox]{
    margin: 0 10px 0 0;
}
#submit .content_submit .tbl_submit .btn_submit{
    text-align: center;
    padding:35px 0 40px 0;
}
#submit .content_submit .tbl_submit .btn_submit #button{
    border-radius: 5px;
    border:0;
    padding:20px 60px;
    background: #f57b20;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

#submit .content_submit .tbl_submit #btn_upload{
      background: #1b1d1e;
  color: #ffffff;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 3px;
  position: absolute;
  top: 23px;
  right: 21px;
}

#submit .content_submit .tbl_submit td input[type=file]{
    opacity: 0;
    position: absolute;
}

.tab_form #timeline_years {
     margin: 0 0 50px 325px;
}